#all-presents-table
{
    color: white;
    text-align: center;
}

#new-presents-adder
{
    width: 400px;
    position: relative;
    top:0;
    left: 40%;;
}

#new-presents-adder > form
{
    width: 120%;
}

#new-presents-adder> header
{
    font-size: 20px;
    position: relative;
    top:0;
    left: 2vw;
    color: white;
}

.modal-backdrop
{
    z-index: 1;
    position: absolute;
}