#present-name
{
    display: inline;
}

#remove-present-button
{
    background: none;
    width: 2vh;
    height: 2vh;
    position: relative;
    top:0;
    left: 0;
    float: right;
}

#delivery-status-container
{
    display: inline;
    position: absolute;
    left:100px;
    top:100px;
    text-align: center;
    color:white
}

#delivery-status-container >img
{
    width: 100px;
}